<div class="block" >
    <div class="secondary-navigation">
        <ul class="wat-cf">
            <li class="first active">{list_users_link}</li>
            <li >{new_user_link}</li>
        </ul>
    </div>
    <div class="content">
        <h2 class="title">Users</h2>
        <div class="inner">
            {msg_error}
            <div style="clear:both;"></div>
            <table class="stripeMe table">
                <tr>
                    <th class="first"><input type="checkbox" class="checkbox toggle" /></th>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Name</th>
                    <th width="20" >&nbsp;</th>
                    <th width="20" class="last" style="width:20px;">&nbsp;</th>
                </tr>
                <!-- START BLOCK : listado -->
                <tr id="{id}">
                    <td><input type="checkbox" class="checkbox_delete" name="id" value="{id}" /></td>
                    <td>{id}</td>
                    <td>{usuario}</td>
                    <td>{nombre}</td>
                    <td>{edit}</td>
                    <td class="last"><a href="#" onclick="delete_row('{id}'); return false;" >{img_delete}</a></td>
                </tr>
                <!-- END BLOCK : listado -->
            </table>
            <div class="actions-bar wat-cf">
                <div class="actions">
                    <button class="button" type="submit" onclick="deleteSelected(); return false;">
                    {icon_delete} Delete Selected
                    </button>
                    {new_user_btn}
                </div>
                {paginado}
            </div>
        </div>
    </div>
</div>
{js_usuario}
