<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{title}</title>
{css_gral}
{css_colorbox}
{js_jquery}
{js_image}
{js_colorbox}
<script type="text/javascript" >
    var base_path = '{BASE_PATH}';
</script>
</head>
<body>
<!--    <h1>{proj_title}</h1>-->
    {CONTENT}

{js_custom_crop}
</body>
</html>

