
div.login form { padding: 40px 0 25px 0; }

button.button img, a.button img {
  margin:0 3px 0 0 !important;
}

#user-navigation li.logout a {
  background: #d24836;
  padding: 1px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 3px;
}

#main {
width: 73%;
float: right;
}

#sidebar {
float: left;
}

.table th .checkbox { margin-left: 0; }

.form input.fecha {
  width:100px;
  border: 1px solid #cfcfcf;
}

tr.over { background: #BBBBBB !important; }

#main .block .content h2 { float: left; }

div.btn_right_container { float:right; margin-top: 13px; }


.pagination select {
  float: left;
  margin-right: 5px;
}

.pagination span.disabled { color: #999999; }

.message { clear: both; }

.contact_zoom_cont {
    padding: 0 30px 30px 30px;
}

.contact_zoom_cont p {
    padding: 0 40px;
}

.contact_zoom_cont h2 {
    margin-bottom: 30px;
}

div.sidebar_form { padding: 15px; }

div.sidebar_form label { font-weight: bold; font-size: 14px; }

div.sidebar_form form textarea { margin: 10px 0 !important; }

.select_field  { width: 100%; }

.submenu{
    background-color: #666666 !important;
    color: #FFFFFF!important;
}
.sub_navigation{
    margin-left: 30px;
    list-style: none;
}