<div class="block" >
    <div class="secondary-navigation">

    </div>
    <div class="content">
        <h2 class="title">Main</h2>
        <div class="inner">
            {msg_error}
            <div style="clear:both;"></div>
            <div class="columns wat-cf">
                <div class="column left" style="float: left;width: 25%;">

                </div>
                <div class="column left" style="float: left;width: 25%;">
                    
                </div>
                <div class="column right" style="float: left;width: 25%;">

                </div>
                <div class="column right" style="float: left;width: 25%;">
                    
                </div>
            </div>            
        </div>
    </div>
</div>